
/*
COLOUR PALLETTE
almost black: #24211E
beige: #B8A89C
dark brown: #38291F
brown: #857971
*/


html, body {
    box-sizing: border-box;
    height: 100%;
}

*, *::after{
    box-sizing: inherit;
}

/*.index-html{
    background-color: #ffffff;
    opacity: 1;
    background-image:  linear-gradient(135deg, #e9e4e1 25%, transparent 25%), linear-gradient(225deg, #e9e4e1 25%, transparent 25%), linear-gradient(45deg, #e9e4e1 25%, transparent 25%), linear-gradient(315deg, #e9e4e1 25%, #ffffff 25%);
    background-position:  6px 0, 6px 0, 0 0, 0 0;
    background-size: 6px 6px;
    background-repeat: repeat;
}*/

body,
input {
    margin: 0;
    font-family: arboria,sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #fff;
}

img {
    border-radius: 3px;
}

h1 {
    margin: 40px auto 5px;
    font-size: 3rem;
    line-height: 2.5rem;
}

.welcome-section h1{
    padding-top: 40px;
    margin: 0;
}

h2 {
    text-decoration: underline 0.5px #B8A89C;
    text-transform: capitalize;
    font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: warnock-pro, serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

body,
a{
    color:#24211E;
}

.navigation{
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.homepage-navigation {
    background-image: url("/images/new/inside-weather-Uxqlfigh6oE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 20%;
    height: 50%;
}

a {
    text-decoration: none;
}

.navigation i {
    margin-top: 10px;
}

i {
    font-size: 1.4rem;
    margin: 5px;
}

.tablet-desktop {
    display: none;
}

.logo {
    max-width: 200px;
}

.cta {
    color: #38291F;
    display: block;
    max-width:30%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #B8A89C;
    text-align: center;
    font-family: arboria,sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    font-style: normal;
    cursor: pointer;
}

.welcome-section {
    background-color: #fff;    
    max-width: 80%;
    margin: -70px auto 40px;
    padding-bottom: 40px;
    border-bottom: 1.5px dotted #B8A89C;
    border-radius: 40px 40px 0 0;
}

.right-align-a {
    display: block;
    text-align: right;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.8rem;
}

.products-container{
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.product {
    margin: 10px;
    flex: 1;
    font-weight: 600;
}

.product h3{
    text-align: left;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 300;
}

.product img {
    width: 100%;
    max-height: 170px;
    object-fit: cover;
}

.navigation,
.products-container,
.register,
footer,
.social-media {
    display: flex;
}

.quote {
    background-color: #B8A89C;
    padding: 60px 20px;
    margin: 60px 0;
    text-align: right;
    font-weight: 500;
    font-size: 1.3rem;
    color:#fff;
}

.quote p {
    animation: slideIn 2s cubic-bezier(0.7, 0, 0.84, 0) 0s 1 normal forwards;
}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

.register {
    margin-top: 100px;
}

.register,
.register img {
    background-color: #B8A89C;
    border-radius: 50px 50px 0 0;
}

.register img{
    margin-top: -40px;
    max-width: 60%;
    object-fit: cover;
}

.register-text{
    margin-left: -80px;
}

.register-text h2 {
    text-align: left;
    padding: 10px;
    text-decoration: none;
}

.register input {
    margin-left: -40px; 
    font-weight: 500;
}

.register input,
.register button {
    border: none;
    padding: 10px;
    border-radius: 2px;
}

.register button {
    background-color: #24211E;
    color: #fff;
    cursor: pointer;
    display: inline;
    max-width: 100%;
    margin: 0;
}

footer {
    background-color: #B8A89C;
    margin-top:0;
    padding: 50px 0;
    flex-direction: column;
}

footer ul {
    font-weight: 600;
    text-transform: lowercase;
    flex: 1;
}

footer li {
    list-style-type: none;
    font-weight: 100;
}

.copyright,
.copyright p {
    background-color: #38291F;
    color:#B8A89C;
    text-align: right;
    margin: 0;
}

@media only screen and (min-width: 865px) {

    .homepage-navigation{
        background-position: 50% 55%;
        height: 75%;
    }

    .nav-link {
        padding: 10px;
    }

    .tablet-desktop {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .mobile {
        display: none;
    }

    footer{
        flex-direction: row;
    }
    
}
