
/*
COLOUR PALLETTE
almost black: #24211E
beige: #B8A89C
dark brown: #38291F
brown: #857971
*/


html, body {
    box-sizing: border-box;
    height: 100%;
}

*, *::after{
    box-sizing: inherit;
}

/*html{
    background-color: #ffffff;
    opacity: 1;
    background-image:  linear-gradient(135deg, #e9e4e1 25%, transparent 25%), linear-gradient(225deg, #e9e4e1 25%, transparent 25%), linear-gradient(45deg, #e9e4e1 25%, transparent 25%), linear-gradient(315deg, #e9e4e1 25%, #ffffff 25%);
    background-position:  6px 0, 6px 0, 0 0, 0 0;
    background-size: 6px 6px;
    background-repeat: repeat;
}*/

body {
    margin: 0;
    font-family: warnock-pro, serif;
    font-weight: 300;
    font-style: normal;
    background-color: #fff;
}

img {
    border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    text-align: center;
}

body,
a{
    color:#24211E;
}

.navigation{
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.homepage-navigation {
    background-image: url("/images/new/inside-weather-Uxqlfigh6oE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 20%;
    height: 50%;
}

a {
    text-decoration: none;
}

.navigation i {
    margin-top: 10px;
}

i {
    font-size: 1.4rem;
    margin: 5px;
}

.tablet-desktop {
    display: none;
}

.logo {
    max-width: 200px;
}

.wrapper {
    width: 90%;
    margin: -60px auto 20px;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 50px;
}

.welcome-section {
    max-width: 80%;
    margin: 0px auto 40px;
    padding-bottom: 20px;
    border-bottom: 1.5px dotted #B8A89C;
}

.welcome-section h1,
.welcome-section p {
    text-align: center;
}

.welcome-section h1{
    padding-top: 40px;
}

.products-container{
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 10px;
    flex: 1;
    font-weight: 600;
}

.product h3{
    text-align: left;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 300;
}

.product img {
    width: 100%;
    max-height: 170px;
    object-fit: cover;
}

.last-chance {
    background-color: #fff;
    border-radius: 2px;
}

.navigation,
.our-story,
.categories,
.products-container,
.register,
footer,
.social-media {
    display: flex;
}

.our-story div{
    flex: 1;
}

.categories{
    flex: 1 0;
    flex-wrap: wrap;
    font-size: 1.3rem;
}

.categories h3 {
    margin: 20px;
}

.decorations,
.kitchenware,
.furniture,
.sale {
    flex: 1;
    background-position: 100% 50%;
    padding: 30px 10px;
}

.decorations {
    background-image: url("/images/stephanie-harvey-PPA6wsuedeM-unsplash.jpg");
    background-size: cover;
}

.furniture {
    background-image: url("/images/nathan-oakley-ueJ2oJeEK-U-unsplash.jpg");
    background-size: cover;
}

.kitchenware {
    background-image: url("/images/vladimir-gladkov-d1hKXgFJUKw-unsplash.jpg");
    background-size: cover;
}

.sale{
    background-image: url("/images/new/hutomo-abrianto-3tV7afC7alc-unsplash.jpg");
    background-size: cover;
}

.our-story img {
    max-width: 100%;
}

.sale-section{
    padding: 20px 20px 130px;  
}

.sale-section h2 {
    background-image:  linear-gradient(135deg, #e9e4e1 25%, transparent 25%), linear-gradient(225deg, #e9e4e1 25%, transparent 25%), linear-gradient(45deg, #e9e4e1 25%, transparent 25%), linear-gradient(315deg, #e9e4e1 25%, #ffffff 25%);
    background-position:  4px 0, 4px 0, 0 0, 0 0;
    background-size: 4px 4px;
    background-repeat: repeat;
    border-radius: 50px;
}

.sale-section,
.our-story {
    background-color: #fff;
}

.register,
.register img {
    background-color: #B8A89C;
    border-radius: 50px;
    margin-top: -60px;
}

.register img{
    max-width: 60%;
    object-fit: cover;
}

.register-text{
    margin-left: -60px;
}

.register input {
    margin-left: -40px; 
}

.register input,
.register button {
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.register button {
    background-color: #B8A89C;
    color: #24211E;
    cursor: pointer;
}

footer {
    background-color: #857971;
    margin-top: -40px;
    padding-top: 50px;
    flex-direction: column;
}

.footer-logo {
    max-width: 270px;
}

footer ul {
    font-weight: 600;
    text-transform: lowercase;
    flex: 1;
}

footer li {
    list-style-type: none;
    font-weight: 100;
}

.copyright,
.copyright p {
    background-color: #38291F;
    color:#B8A89C;
    text-align: right;
    margin: 0;
}

@media only screen and (min-width: 865px) {

    .homepage-navigation{
        background-position: 50% 55%;
        height: 75%;
    }

    .nav-link {
        padding: 10px;
    }

    .tablet-desktop {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .mobile {
        display: none;
    }

    footer{
        flex-direction: row;
    }
    
}
